* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222f3e;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

input,
button,
textarea {
  font-family: "Nunito", sans-serif;
}
